.all-movies {
    margin: 10px auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .all-movies a {
    text-decoration: none;
  }
  
  .one-serial {
    background-color: #0f0f0f;
    width: clamp(100px, 16.5vw, 140px);
    box-shadow: 0px 0px 10px black;
    color: #e5e5e5;
    height: auto;
    margin: 10px 5px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
  }
  
  .percenta {
    position: relative;
    top: clamp(-30px, 1vw, -20px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    width: clamp(25px, 5vw, 35px);
    height: clamp(25px, 5vw, 35px);
    border-radius: 50px;
    box-shadow: 0px 0px 5px #505050;
    color: hsl(73, 100%, 72%);
    font-weight: bold;
    font-size: clamp(12px, 2.8vw, 16px);
  
  }
  
  .one-serial:hover {
    transform: scale(1.04);
    filter: brightness(1.2);
  }
  
  .serial-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: clamp(130px, 22.5vw, 207px);
    z-index: 1;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%);
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 93%);
  }
  
  .one-serial h4 {
    z-index: 1;
    text-decoration: none;
    color: #e5e5e5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: clamp(12px, 3vw, 16px);
  }
  
  .grid-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }