footer {
    background-color: #141414;
    color: #e5e5e5;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #e5e5e5;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-links a:hover {
    color: red;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-social a {
    color: #e5e5e5;
    font-size: 20px;
}

.footer-social a:hover {
    color: rgb(88, 88, 88);
}
