.ratings-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: clamp(14px, 5vw, 22px);
}

.full-rating {
    font-weight: lighter;
}

.fa-star {
    color: gold;
    padding-bottom: 4px;
    font-size: clamp(14px 5vw, 22px);
}