.ratings-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
}

.fa-star {
    color: gold;
}

/* Responzivní úprava pro mobily */
@media (max-width: 768px) {
    .ratings-container {
        width: 40px;
        font-size: 15px;
    }
}