.all-movies {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.all-movies a {
  text-decoration: none;
}

.one-movie {
  position: relative;
  width: 140px;
  box-shadow: 0px 0px 10px black;
  color: #e5e5e5;
  margin: 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}



.one-movie:hover {
  transform: scale(1.04);
  filter: brightness(1.2);
}

.movie-img {
  position: relative;
  display: inline-block;
  height: 220px;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 93%);
}

.star {
  color: gold;
  font-size: 14px;
}

/* .ratings {
  position: absolute;
  padding-left: 25px;
  padding-top: 180px;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: white;
  font-size: 18px;
} */

.one-movie h4 {
  z-index: 1;
  text-decoration: none;
  color: #e5e5e5;
  text-align: center;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Responzivní úprava pro mobily */
@media (max-width: 768px) {
  .one-movie {
    width: 100px;
    height: 150px;
    margin: 5px;
  }

  .movie-img {
    width: 100%;
    height: 150px;
  }

  .one-movie h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 40%, transparent);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    z-index: 2;
  }
}
